html,
body {
    background-color: #fff;
    font-size: 0.9375rem;
    color: #797979;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    outline: 0;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.header{
    position: relative;
    background-color: #aaaaaa;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    max-width: 100%;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
textarea,
input[type="password"],
input[type="login"],
input[type="submit"],
.uneditable-input {
    outline: none;
    display: block;
    margin: auto;
    position: relative;
}
.raw {
    height: 100vh;
    width: 100vh;
    display: inline-block;
}
.deschome{
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-90%);
}

h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 0.575rem;
    font-family: 'Montserrat', cursive;
    text-transform: uppercase;
}
h4 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 0.575rem;
    font-family: 'Kaushan Script', cursive;
}
h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color:#223d61;
    text-transform: uppercase;
}
h2 {
    font-size: 0.93rem;
    font-family: 'Montserrat', sans-serif;
}
td {
    border: 1px solid black;
    height: 30px;
}
th {
    border: 1px solid black;
    background-color: #708090;
    text-align: center;
    height: 40px;
    color: white;
}
table {
    margin: auto;
    width: 60%;
}
p {
    line-height: 1.375rem;
    font-size: 0.875rem;
}
p:last-child {
    margin-bottom: 0px;
}

/* Section */
.sections {
    padding-top:85px;
    padding-bottom: 105px;
    overflow: hidden;
    height: 100%;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
.home-overlay {
    background-color: rgba(237, 237, 237, 0.80);
    width: 100%;
    height:auto;
}

.no-padding {
    padding: 0 !important;
    margin:0 !important;
}

/* Separator */
.separator {
    height: 3px;
    width: 127px;
    margin: 25px auto;
    background: #f38181;
}

/* header section */
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
    margin: 15px auto;
}

/*heading title all area*/
.head_title{
    margin-bottom:90px;
    font-size:1rem;
    color:#333333;
}

/*home section*/
.home{
    background: url(../images/homebg.jpg) no-repeat 100% 100%;
    background-size: cover;
    height: 100%;
}
.home .main_home h4{
    color: #fff;
    padding-bottom: 25px;
    font-size:4.5rem;
    line-height: 5rem;
}
.home .main_home {
    color: #fff;
    padding-bottom: 25px;
    font-size:9.375rem;
    line-height: 11rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    max-width: 80%;
    margin:0 auto;
}


/*footer section*/
.footer{
    background: #f8f8f8;
}

.main_footer{
    border-top:1px solid #ddd;
}
.copyright_text p{
    color:#aaa79e;
    font-size:0.8125rem;
    line-height: 25px;
    padding:40px;
    max-width: 100%;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#3bd3ba;
}